.shopping-item-checkbox-container{
    display: inline-block;  
    cursor: pointer;
}

.shopping-item-checkbox-container .shopping-item-checkbox{
    margin-right: 1%;
}

.display-flex-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.display-flex-row > li{
    list-style: none;
    flex: 1;
}

h5{
    margin: 10px 0 10px 0;
}

