.shopping-item-checkbox-container{
    display: inline-block;  
    cursor: pointer;
}

.shopping-item-checkbox-container .shopping-item-checkbox{
    margin-right: 1%;
}



.display-flex-row{
    display: flex;
    justify-content: space-evenly;
}

.display-flex-row > li{
    list-style: none;
    margin: 0 5%;
    flex: 1;
}