/*Created by Gal Shimron on 9/05/2021. */
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');



#p-shopping-list-container{
    width: 70%;
    margin: 1% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

#p-shopping-list-container ul{
    padding: 0;

}

#p-shopping-list-container div:first-child{
    display: flex;
    justify-content: space-between;
}


#p-shopping-list-container p{
    margin: 0;
    display: inline;
    color: #0B5AA2;
    font-size: 50px;
    text-align: left;
    font-family: 'Six Caps', sans-serif;

}

#p-shopping-list-container svg{
    font-weight: 500;
    font-size: 2.5rem;
    margin: 5px;
    color: white;
    background-color: lightblue;
    border-radius: 5px;
    border: solid;

}

#p-shopping-list-container hr{
    width: 100%;
    align-items: left;
    margin: 3% 0;
    border: 1px solid #0B5AA2;
}


.list-border-style-shopping-header{
    margin-top: 2%;
    color: white;
    background-color: darkblue;
    border: black 5px double;
    border-radius: 5px;

}

.list-border-style-shopping-content{
    border: 1px solid transparent;
    cursor: pointer;  
}

.list-border-style-shopping-content:hover{
    
    border: gainsboro 1px solid;
    border-radius: 5px;
}

