/*Created by Gal Shimron on 9/05/2021. */

/**
* Create a Table only with css using flex box 
*
**/
.shopping-item-row{
    margin: 1% 5%;
    display: flex;
    justify-content: center;
    border: double 5px black;
}

/* End of table */

.shopping-item-row > dd{
    margin: 0 8%;

}