/*Created by Gal Shimron on 9/05/2021. */

/**
* Create a Table only with css using flex box 
*
**/
#p-shopping-list-container{
    padding: 0;
    margin: 0 20%;
}

.list-border-style-shopping-header{
    margin-top: 2%;
    color: white;
    background-color: darkblue;
    border: black 5px double;
    border-radius: 5px;

}

.list-border-style-shopping-content{
    border: 1px solid transparent;
    cursor: pointer;  
}

.list-border-style-shopping-content:hover{
    
    border: gainsboro 1px solid;
    border-radius: 5px;
}

