@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Zilla+Slab:300,400');

#p-shopping-lists-container{
    width: 70%;
    margin: 1% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}
#p-shopping-list-header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#p-shopping-list-header-container p{
    margin: 0;
    display: inline;
    color: #0B5AA2;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

#p-shopping-list-header-container svg{
    font-weight: 500;
    font-size: 2.5rem;
    margin: 5px;
    color: white;
    background-color: lightblue;
    border-radius: 5px;
    border: solid;

}

 hr{
    width: 100%;
    align-items: left;
    margin: 3% 0;
    border: 1px solid #0B5AA2;
}

.p-shopping-list-body-container {
    display: flex ;
    justify-content: space-between;
    border: 1px solid transparent;
    cursor: pointer;  

    
}

.p-shopping-list-body-container:hover{
    border: gainsboro 1px solid;
    border-radius: 5px;
}
.p-shopping-list-body-container  a{
    text-align: left;

}

.p-list-item-title::before{
    content: "*";
    margin-left: 10px;

}

.p-list-item-title{
  font-family: 'fredericka the great', cursive;
  font-weight: 500;
  font-size: 2.5rem;
  color: white;
  text-overflow: clip;
  padding: 10px 0;
  margin-left: 10px;

}


.icon-container .icon-remove-cart{
        font-weight: 500;
        font-size: 2.5rem;
        color: white;
        background-color: lightblue;
        border: solid;
        border-radius: 5px;
        margin: 50% 10px 50% 0;
}


.c-flex-row{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

