
#c-oref-warning-container {
    width: 40%;
    margin: 0.1% 30%;
    padding: 0.1%;
    display: flex;
    justify-content: center;
    background-color: #fffffe;
    border: gainsboro 1px solid;
    border-radius: 5px;

    position: relative;
    animation-name: leftToRight;
    animation-duration: 2s;
    animation-fill-mode: both;
  
}

 #c-oref-warning-container li {
    flex: 1;
    list-style: none;
}

  @keyframes leftToRight {

    0%  {left:100vw; top:0px;}
    100% { left:0; top:0px;}
  }