/*Created by Gal Shimron on 9/05/2021. */


#root {
  margin: 0;
  padding: 0;
  height: 100vw;
  text-align: center;
  background-color: lightsalmon;
}

.navbar {
  width: 100%;
  padding: 0 10%;
}

