/*Created by Gal Shimron on 9/05/2021. */
body {
  background-color: lightskyblue !important;
    color: white;
}


.sr-only{
  display: none !important;
}


button{
  min-width: 90px;
  color: white !important;
  background-color: blue !important;
  border: darkblue 5px groove;
  border-radius: 5px !important;
  padding: 0 5px;
  font-family: 'Pacifico', cursive;

}

#root {
  margin: 0;
  padding: 0;
  height: 100vw;
  text-align: center;
}

.navbar {
  width: 100%;
  padding: 0 10%;
}


